<h2>New Tweet!</h2>
<form class="simple-form tweet-compose" data-tweets-ul="<%= tweets_ul %>">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label for='tweet-textarea'>What's on your mind?</label>
    <textarea id='tweet-textarea'
      name="tweet[content]" placeholder="What's on your mind?"></textarea>
    <strong class="char-left"></strong>
  <br>

  <label>
    Mention
    <select name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </label>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
